composer.lock

.phpunit.result.cache
coverage/

.idea/
.vscode/
*.swp

.DS_Store
Thumbs.db

/storage/
!/storage/.gitignore
!/storage/framework
!/storage/framework/.gitignore
!/storage/framework/mailpot
/storage/framework/mailpot/*.json
!/storage/framework/mailpot/.gitignore
!/storage/framework/mailpot/stats.json

/vendor/
